#!/bin/bash
# {{ ansible_managed }}

## CONFIG CONSTANTS

SSH_HOST="{{backup_host}}"
SSH_USER="{{backup_user}}"
SSH_PORT={{backup_port}}
SSH_DIR={{backup_dir}}
PASSPHRASE='{{backup_passphrase | default()}}'
export PASSPHRASE


{% if backup_mariadb_dir is defined %}
# mariadb
MARIADB_DIR={{backup_mariadb_dir}}
{% endif %}

{% if backup_pgsql_dir is defined %}
# postgresql
PGSQL_DIR={{backup_pgsql_dir}}
{% endif %}

{% if backup_rsync_dir is defined %}
# rsync
RSYNC_DIR={{backup_rsync_dir}}
{% endif %}


## SCRIPT
SCRIPT_DIR=$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )
source $SCRIPT_DIR/backup_lib.sh
{{backup_command_option | default()}}
{% if backup_mariadb_dir is defined %}
mariadb_backup
{% endif %}
{% if backup_pgsql_dir is defined %}
pgsql_backup
{% endif %}
borg_backup {{backup_filelist | join(" ")}} {{backup_option | default()}}
end
